<p-button label="load data" (click)="loaddata()"></p-button>
<div class="card">
  <p-table
    #dt2
    [value]="this.topiclist"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"

    [paginator]="true"
    [globalFilterFields]="['id','name']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >
    <!--<ng-template #caption>
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt2.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>
    </ng-template>-->
    <ng-template #header>
      <tr>
        <th style="width:33%">ID</th>

        <th pSortableColumn="name" style="width:20%">
          Name <p-sortIcon field="name" />
        <th style="width:33%">Description</th>

      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="id"
            placeholder="Search by id"
            ariaLabel="Filter id"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            placeholder="Search by Name"
            ariaLabel="Filter Name"
          ></p-columnFilter>
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="description"
            placeholder="Search by description"
            ariaLabel="Filter Description"
          ></p-columnFilter>
        </th>



      </tr>
    </ng-template>
    <ng-template #body let-topic>
      <tr>
        <td>
          {{ topic.id }}
        </td>
        <td>
          <div class="flex items-center gap-2">

            <span>{{ topic.name }}</span>
          </div>
        </td>
        <td>
          {{ topic.description }}
        </td>

      </tr>
    </ng-template>
    <ng-template #emptymessage>
      <tr>
        <td colspan="3">No topic found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

